html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.main-header {
  background-image: url("header-bg.jpg");
  background-position: center center;
}

.menu {
  background: rgba(0,0,0,0.1);
  box-shadow: 0px -10px 50px 0px rgba(0,0,0,1);
}

.menu > ul,
.menu > ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > ul > li,
.menu > ul > li > a {
  display: inline-block;
}

.menu > ul {
  text-align: center;
}

.menu > ul > li > a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.menu > ul > li > a:hover {
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  background: rgba(255,255,255,0);
}

.ix_header {
  height: 55%;
  width: 20%;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 35px;
}

.header-text {
  ffont-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 35px;
}
/*a:link {
  font-family: Lato, sans-serif;
  color: black;
  text-decoration: none;
}

a:hover {
  font-family: Lato, sans-serif;
  color: white;
  text-decoration: none
}

a:visited {
  font-family: Lato, sans-serif;
  color: black;
  text-decoration: none
}

.container {
  display: flex;
}

.child {
  width: 100%;
  margin: auto;
  border: 1px solid black;
  text-align: center;
}

header.main {
  background: hotpink;
  height: 80px;
}

.content {
  overflow: auto;
  background: white;
  text: black;
}

.roundimg {
  border-radius: 50%;
  border: 1px solid black;
}*/



/*
.menu {
  text-align: right;
  font-family: Lato, sans-serif;
  font-size: 12px;

}

.left, .middle, .right {
  display: inline-block;
  display: inline;
  zoom: 1;
  vertical-align: 0;
  top; font-size: 12px;
}

.left {
  width: 33%;
  background: blue;
}

.middle {
  width: 33%;
  background: green;
}

.right {
  width: 33%;
  background: yellow;
}

.footer {
  background: darkgrey;
  text: white;
  height: 80px;
}*/
