html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body a {
  color: gray;
  text-decoration: none;
}

body a:hover {
  color: black;
  text-decoration: none;
}


.main-header {
  background-image: url("header-bg.jpg");
  background-position: center center;
}

.menu {
  background: rgba(0,0,0,0);
}

.menu > ul,
.menu > ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu > ul > li,
.menu > ul > li > a {
  display: inline-block;
}

.menu > ul {
  text-align: center;
}

.menu > ul > li > a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.menu > ul > li > a:hover {
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  background: rgba(255,255,255,0);
}

.btn {
  display: inline-block;
  background-color: rgb(249, 0, 122);
  /*background: rgba(255,255,255,255);*/
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  right: 10px;
}

.btn:hover {
  color: white;
}

/*.menu-pink {
  background: hotpink;
}

.menu-pink > ul,
.menu-pink > ul > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-pink > ul > li,
.menu-pink > ul > li > a {
  display: inline-block;
}

.menu-pink > ul {
  text-align: right;
}

.menu-pink > ul > li > a {
  padding: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.menu-pink > ul > li > a:hover {
  padding: 10px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  background: rgba(255,255,255,0);
}*/

.ix_header {
  height: 55%;
  width: 20%;
  display: block;
  margin: auto;
  padding: 10px;
  margin-top: 35px;
}

.header-text {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 35px;
}

.container {
  display: flex;
}

.child1 {
  flex-basis: 50%;
  border-right: 5px solid gray;
  text-align: center;
  display: flex;
}

.child2 {
  flex-basis: 50%;
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.child2 .gap {
  height: 150px;
}

.grandchild {
  width: 75%;
  margin: auto;
  border: none;
  background-color:rgba(0,0,0,0.05);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}

.roundimg {
  border-radius: 50%;
  border: 1px solid black;
}

.roundimg2 {
  border-radius: 50%;
  border: 1px solid black;
  /*position: absolute;
  align: center;
  top: -20px;
  bottom: auto;*/
}

.main-footer {
  background: darkgrey;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
}

.blog-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.blog-container a {
  padding-top: 20px;
  color: gray;
  text-decoration: none;
}

.blog-container a:hover {
  padding-top: 20px;
  color: black;
  text-decoration: none;
}

.blog-container a:visited {
  padding-top: 20px;
  color: gray;
  text-decoration: none;
}

.blog-content {
  flex-basis: 65%;
  background-color: #D3D3D3;
  border: 1px solid black;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
}

.blog-content {
  flex-basis: 65%;
  background-color: #D3D3D3;
  border: 1px solid black;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;
}

.blog-content p {
  text-align: justify;
}

. {
  border: 1px solid black;
}


.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: grey;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px 'Raleway', sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.contact-page {
  text-align: center;
}

/*.blog-left {
  flex-basis: 15%;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
}

.blog-middle {
  flex-basis: 70%;
  height: 200px;
  border: 1px solid black;
  text-align: auto;
  display: flex;
  align-items: auto;
  background-color: #D3D3D3;
}

.blog-right {
  flex-basis: 15%;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
}*/
